.loginpage{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logincontainer{
    width: 40vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logincontainer>h4{
    font-family: Roboto;
    font-size: 2rem;
}
.loginform{
    width: 80%;

}
.loginform input{
    width: 100%;
    padding: 9px;
}
.forgotpassword{
    padding: 11px 0;
}
.forgotpassword a{
    font-family: Roboto;
    font-size: 13px;
}
.newuserlogin{
    margin: 11px;
    padding: 5px;
}
.newuserlogin>span,a{
    font-family: Roboto;

}
.loginsubmit>input[type=submit]{
    font-size: 1.2rem;
}
